* {
    box-sizing: border-box;
}

header {
    padding: 5px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white;
    position: static;
    top: 0;

}

body {
    background-color: aliceblue;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: 36px;
}

header nav {
    margin-right: 20px;
    padding-top: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.portrait {
    height: 400px;
    width: 300px;
    border: 10px solid lightgray;
    margin-left: 25px;
    position: relative;
    left: 20px
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.text {
    position: relative;
    bottom: 350px;
    left: 400px;
}

h2 {
    color:black;
    display: block;
    font-size: 32px;
    text-align: center;
}

section footer ul li {
    display: inline-block;
    margin-inline-start: 150px;
}

section footer ul li a {
    color: blue;
    text-decoration: none;
}


@media screen and (max-width: 992px) {
    header {
        background-color: #fcc203
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color:#c9523a;
    }
}