:root {
    --font-serif: Georgia, 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;

}

header {
    padding: 5px;
    position: relative;
    top: 0;
    font-family: var(--font-serif);
    background-color: #2a607c;
    color: white;
}

body {
    background-color: aliceblue;
}

h1 {
    display: inline-block;
    font-size: 250%;

}

header nav {
    margin-right: 20px;
    padding-top: 20px;
    float: right;
    font-family: var(--font-serif);
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li::before {
    font-family: Impact;
    content:'\27A4';
    color: black;
    margin-right: 5px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: blue;
    text-decoration: underline;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portrait {
    height: 400px;
    width: 300px;
    border: 10px solid lightgray;
    margin-left: 25px;
    position: relative;
    left: 40px;
    transform: rotate(-7deg);
    box-shadow: 10px 10px 5px #aaaaaa;
}

main {
    font-family: var(--font-serif);
    font-size: 16px;
    line-height: 1.5;
    max-width: 96%;
    margin: 2% auto;
}

main article section + p {
    background-color: bisque;
    color: #13293d
}

.text {
    position: relative;
    left: 450px;
    bottom: 350px;
    text-indent: 4%;
}

h2 {
    color:black;
    display: block;
    font-size: 32px;
}

section footer ul li {
    display: inline-block;
    margin-inline-start: 150px;
    margin-left: 2%;
    display: flex;
    justify-content: center;
}

section footer ul li a {
    color: blue;
    text-decoration: none;
    font-size: 24px;
}


@media screen and (max-width: 992px) {
    header {
        background-color: #fcc203
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color:#c9523a;
    }
}